# Ignore the venv directory
/venv/

# Ignore the trocr-large-printed model directory
/models/trocr-large-printed/

# Ignore everything under processor/trocr-large-printed but keep .gitkeep
/processor/trocr-large-printed/*
!.processor/trocr-large-printed/.gitkeep

# Ignore everything under static/uploads but keep .gitkeep
/static/uploads/*
!.static/uploads/.gitkeep
